*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container
{
    color: #dc3545;
}

.addToDo 
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.color{
    background-color: #dc3545;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 20%;
    border-radius: 10px;
}

.addToDo input 
{
    padding: 6px 12px;
    border-radius: 6px;
    margin-right: 4px;
    border: none;
    outline: none;
}

.input-group{
    padding:0 3px;
    margin: 2px;
}

.completed input{
    background-color: #ff0000;
    color: #fff;
    text-decoration: line-through;
}

.notCompleted input{
    background-color: #fff;
    color: #000;
}